* {
    background-color: rgb(25, 25, 25);
}

.editor {
    width: 97.85%;
    height: 80%;
    position: absolute;
}

textarea {
    border: none;
    color: #ffffff;
    font-weight: 700;
    line-height: 1.2;
    font-size: 50px;
    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    resize: none;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 10px;
    background-color: #2e2e2e;
}

iframe {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

.goiframe {
    color: #ffffff;
    font-weight: 700;
    line-height: 1.2;
    font-size: 50px;
    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    cursor: pointer;
    user-select: none;
}